body{
    padding: 0%;
    margin: 0;
    background-color: #5e3c00;
    background-image: url("images/background.png");
}

.object-o{
    height: 100px;
    width: 100px;
    border-radius: 500%;
    border: 7px solid #6389A1;
    background-color: transparent;
}

.object-x{
    display: flex;
    align-items: center;
}

.object-x .line{
    height: 110px;
    width: 10px;
    position: absolute;
    background-color: #8f8b76;
}

.object-x-first{
    transform: rotate(45deg);
}

.object-x-second{
    transform: rotate(-45deg);
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    background-color: transparent;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}


.item{
    background-color: rgba(255, 255, 255, .8);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 10px 10px rgba(0, 0, 0, .5);
}

.item:nth-child(1), .item:nth-child(2), .item:nth-child(4), .item:nth-child(5){
    box-shadow: none;
}

.item.active:hover{
    background-color: beige;
}

#item{
    display: none;
}

.turn{
    height:2rem;
    background-color:rgba(255, 255, 255, .8);
    border-radius: 25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart{
    width: 5rem;
    background-color: #5e3c00;
    border: .12em solid white;
    border-radius: 25rem;
    color: white;
    transform: scale(3);
    cursor: pointer;
    padding-bottom: 2.5px;
}

.restart:hover{
    background-color: white;
    color: #5e3c00;
}

.winner{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 12rem;
    height: 5rem;
    border-radius: 12rem;
    color: black;
    background-color:rgba(255, 255, 255, .8);
}

.winner-text{
    display: flex;
    color: black;
    align-items: center;
    font-size: 30px;
    padding-right: 10px;
}

.winner-logo-o{
    height: 30px;
    width: 30px;
    border-radius: 500%;
    border: 3px solid #6389A1;
    background-color: transparent;
}

.logo-x{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-1{
    height:30px;
    width: 3px;
    position: absolute;
    margin-left: 10px;
    transform: rotate(45deg);
    background-color: #8f8b76;
}

.line-1:first-child{
    transform: rotate(-45deg);
}

#winner-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-none{
    display: none!important;
}
